<title>
  Nicolas Roybal | Portfolio
</title>
<link
  rel="shortcut icon"
  href="styles/faviconNew.png"
  type="image/x-icon">
</link>
<link
  rel="icon"
  href="styles/faviconNew.png"
  type="image/x-icon">
</link>
<link
  rel="stylesheet"
  href="styles/main.css">
</link>
<script
  src="https://use.fontawesome.com/01d0bf3fb1.js">
</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js">
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js">
</script>
