<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script src="https://use.fontawesome.com/01d0bf3fb1.js"></script>
  </head>
  <body>
    <main id="app">
    </main>
  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
