/*Main CSS*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
li {
  list-style: none;
}


.nav_button {
  color: black;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 1.5em;
  margin: 0 1em;
  text-decoration: none;
}

.nav_button:hover {
  text-decoration: underline;
}
.nav_wrapper {
  border-bottom: solid grey 1px;
  display: inline-block;
  float: right;
  height: 4em;
  width: 40em;
}
