/*Main CSS*/
/*1440x804px screen*/
/*blue: #3F51B5*/
/*yellow: #ffc107*/
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  background-color: black;
  font-family: helvetica;
  min-height: 100em;
}
li {
  list-style: none;
}

.landing {
  background: url(/styles/new.jpg);
  background-size: cover;
  filter: grayscale();
  width: 100%;
  height: 800px;
  margin-top: -20px;
  /*text-align: center;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landingName {
  color: #ffc107;
  display: inline-block;
  top: 0;
  position: absolute;
  font-size: 4em;
  text-align: center;
  text-shadow: 4px 2px black;
  text-transform: uppercase;
  width: 50%;
  z-index: 10;
}
.landingTitle {
  border-top: solid 2px #3F51B5;
  color: white;
  display: inline-block;
  top: 4em;
  padding-top: 1em;
  position: absolute;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
  z-index: 10;
}
.hexBack {
  display: inherit;
  height: 95%;
  position: absolute;
  width: 100%;
  top: 0;
  overflow-y: hidden;
  z-index: 2;
  opacity: 0.5;
}

/*Nav controls*/
.nav_button {
  color: #ffc107;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 1em;
  margin: 0 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_button:hover {
  background-color: black;
  border-radius: 2em;
  border: solid 2px #3F51B5;
  color: white;
  cursor: pointer;
  padding: 0.2em 1em;
  transition: color 0.6s, background-color 0.6s;
}
.nav_wrapper_background {
  background-color: black;
  display: inline-block;
  /*left: 59%;*/
  height: 4em;
  width: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 799;
}
.nav_wrapper {
  display: inline-block;
  /*left: 59%;*/
  height: 4em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 800;
}
.nav_name {
  color: #ffc107;
  display: none;
  left: 1em;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  z-index: 801;
}
.hexagonPhotoWrapper {
  filter: grayscale();
  position: absolute;
  width: 300px;
  height: 173.21px;
  margin: -150px 0 0 -150px;
  display: block;
  left: 50%;
  top: 47%;
  z-index: 900;
}
.hexagonPhoto {
  position: relative;
  width: 300px;
  height: 173.21px;
  margin: 86.60px 0;
  background-image: url(/styles/me.jpg);
  background-size: auto 346.4102px;
  background-position: center;
}

.hexTopPhoto,
.hexBottomPhoto {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hexTopPhoto:after,
.hexBottomPhoto:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTopPhoto {
  top: -106.0660px;
}

.hexTopPhoto:after {
  background-position: center top;
}

.hexBottomPhoto {
  bottom: -106.0660px;
}

.hexBottomPhoto:after {
  background-position: center bottom;
}

.hexagonPhoto:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}

/*Loader*/
.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #ffc107;
  margin: 86.60px 0;
  display: block;
  /*left: 50%;*/
  top: 50%;
  z-index: 1001;
}

.hexWrapper {
  position: relative;
  width: 300px;
  height: 150px;
  margin: -150px 0 0 -150px;
  display: block;
  left: 50%;
  top: 28.5%;
  z-index: 1001;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #ffc107;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #ffc107;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    z-index: 1002;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    border-bottom-color: white;
    -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: black;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
        transition: all 0.3s 1s ease-out;
}
/*Responsive break points*/
@media screen and (max-device-width : 480px) {
  /*For mobile*/
  #disabled_element {
    display: none;
  }
  .nav_button {
    font-size: 1.5em;
    margin: 0 1em;
  }
  .hexBack {
    height: 38%;
  }
  .landingName {
    top: 1.7em;
    width: 45%;
  }
  .landingTitle {
    top: 10em;
    width: 45%;
  }

  .hexagon {
    display: none;
}

  /*Mobile Hex Photo*/
  .hexagonPhotoWrapper {
    width: 500px;
    height: 288.68px;
    margin: -250px 0 0 -250px;
    left: 70%;
    top: 17.5%;

  }
  .hexagonPhoto {
  position: relative;
  width: 500px;
  height: 288.68px;
  margin: 144.34px 0;
  background-size: auto 577.3503px;

}

.hexTopPhoto,
.hexBottomPhoto {
  z-index: 1;
  width: 353.55px;
  height: 353.55px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  left: 73.22px;
}

/*counter transform the bg image on the caps*/
.hexTopPhoto:after,
.hexBottomPhoto:after {
  content: "";
  position: absolute;
  width: 500.0000px;
  height: 288.6751345948129px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-144.3376px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-144.3376px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-144.3376px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTopPhoto {
  top: -176.7767px;
}

.hexTopPhoto:after {
  background-position: center top;
}

.hexBottomPhoto {
  bottom: -176.7767px;
}

.hexBottomPhoto:after {
  background-position: center bottom;
}

.hexagonPhoto:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 500.0000px;
  height: 288.6751px;
  z-index: 2;
  background: inherit;
}
}
@media only screen and (min-width: 768px) {
  /* For desktop*/
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1400px) {
  /*For Non-Retina Screens*/
.hexWrapper {
  top: 24.6%;
}
.hexagonPhotoWrapper {
  top: 46%;
}
.nav_wrapper {
  left: 0;
}
